* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
header {
    height: 100px;
    background: linear-gradient(90deg, #007BFF 0%, #0056B3 100%);
    color: white;
}
body {
    background: #F4F4F9;
}
h2 {
    font-size: 25px;
    font-weight: 700;
}
p {
    font-size: 16px;
    font-weight: 500;
}
a {
    text-decoration: none;
}
.admin-dashboard-panel {
    background-color: white;
    border-radius: 10px;
    margin: 16px;
    padding: 30px;
}
.admin-dashboard-panel a {
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    background: #5FA2E3;
}
.admin-dashboard-panel a:hover {
    background: #548fc9;
}
.admin-dashboard-panel a:active {
    background: #4474a3;
}
.navbar {
    height: 100px;
    background-color: #D9D9D9;
}
.admin-btn {
    font-size: 20px;
    color: white;
    background: #7DB1E3;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.admin-btn:hover {
    color: white;
    background-color: #0082FF;
}
.nav-btn.active {
    background-color: #0082FF;
}
#navbar {
    height: 220px;
}
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    color: white;
    font-size: 25px;
    font-weight: 700px;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
}
.table td {
    background: #A4BFF6;
}

.table a {
    color: white;
}

.table a:hover {
    text-decoration: underline;
}