* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", serif;
}
p {
    font-size: 16px;
    font-weight: 400;
}
b {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: black;
}
.carousel-inner img {
    height: 500px;
    object-fit: cover;
}
.carousel-control-prev,
.carousel-control-next {
    width: 100px;
    background-color: rgba(0, 0, 0, 0.3);
}
.carousel-item {
    transition: transform 0.5s ease-in-out;
}
.line-bottom {
    padding-bottom: 40px;
    border-bottom: 1px solid #F7941D;
}
.home-introduce>div>div{
    width: 70px;
    border-top: 2px solid #F7941D;
}
.home-introduce h2 {
    color: #29577D;
    font-size: 25px;
    font-weight: 700;
}
.home-introduce h1 {
    color: #F7941D;
    font-size: 50px;
    font-weight: 700;
}
.btn-xemthem {
    border-radius: 100px;
    background: linear-gradient(90deg, #FF9800 0%, #FFC107 100%);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    transition: background-position 0.3s ease;
    background-size: 200% 100%;
    background-position: 0% 0%;
}
.btn-xemthem:hover {
    color: #FFF;
    background-position: 100% 0%;
}
.home-introduce .col-md-5 img {
    width: 92%;
    border-radius: 5px;
}
.home-container-title {
    color: #29577D;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}
.daotao-content {
    width: 693px;
    text-align: center;
}
.daotao img {
    width: 100%;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}
.daotao img:hover {
    transform: scale(1.02);
}
.baiviet-container img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}
.baiviet p{
    font-size: 16px;
}
.baiviet img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 8px;
}
.footer {
    height: 364px;
    position: relative;
    color: #fff;
    text-align: center;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-content>.d-flex {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.footer-content img {
    height: 100px;
}
.footer-title {
    width: 700px;
}
.footer-content h1 {
    font-size: 24px;
    font-weight: 400;
}
.footer-social-network img{
    height: 46px;
    margin-left: 40px;
}
.footer-content .row p,
.footer-content .row span {
    font-size: 17px;
}
.footer-content .row span {
    opacity: 0.7;
}
.footer-content .row a {
    color: white;
    font-size: 17px;
    margin-left: 150px;
}
.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #F7941D, #29577D, #F7941D);
    background-size: 300% 300%;
    animation: gradient-animation 10s infinite;
    z-index: 1;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}  
body {
    font-family: "Manrope", serif;
    color: #000;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  /*Shared by all page*/
  .heroh{
    height: 500px;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/anhnencactrang.png');
    background-size: cover; /* Đảm bảo ảnh nền lấp đầy */
    display: flex; /* Kích hoạt flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
  }
  .herohcontent{
    display: flex;
    justify-content: center;
    height: 190px;
    flex-direction: column;
    align-items: center;
  }
  .hero-mota{
    font-size: 20px;
    display: flex;
    flex-direction: row;
  }
  .hero-mota-content{
    color: white;
    padding-left: 10px;
    font-size: 21px;
    padding-top: 4px;

  }

  .hero-header{
    padding-top: 2rem;
    font-size: 42px;
    color: white;
    font-weight: bold;
  }
  .page-content{
      display: flex;
      padding: 90px 102px;
      box-sizing: border-box;
      align-items: flex-start;
      column-gap: 17vw;
        color: #000;
        font-style: normal;
        font-weight: 400;
    line-height: normal;
      
  }
  .sidebar {
      display: flex;
      position: sticky;
      top: 10px;
      width: 290px;
      transition: top 0.3s;
      padding: 26px 8px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      flex-shrink: 0;
  }
  
  .sidebar__link {
      display: flex;
      height: 60px;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      align-items: center;
      color: var(--Mu-cam, #F7941D);
      align-self: stretch;
      background: var(--mu-xanh, #29577D);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border: 0px;
      text-decoration: none;
      transition: background-color 0.3s;
  }
  .sidebar__link:hover{
    background-color: var(--Mu-cam, #F7941D);

  }

  .info-section{
    font-size: 16px;
    width: 50vw;

  }
/* only in nhan su */
#header_nhansu>h3{
    text-align: center;width: 1000px;padding-left: 102px;
    margin-top: 100px;
    margin-left: 200px;
    font-weight: bold;
    font-size: 32px;
    color: var(--mu-xanh, #29577D);
}
#nhansu__content{
    padding-top: 20px;
}



  /*Only in gioithieu.html*/
  .info-section__discription-header{
    display: flex;
    height: 46px;
    font-size: 21px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    color: #29577D;
    font-weight: bold;
  }
  #info-section__discription-headermargin1{
    margin-bottom: 0px;
  }
  #info-section__discription-headermargin2{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .info-section__discription-text{
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
  .info-section__discription-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .info-section__title-box {
    text-align: center;
    margin-bottom: 20px;

  }
  .info-section__title {
    display: flex;
    padding: 14px 24px;
    height: 38px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    color: var(--mu-xanh, #29577D);
    }
  .info-section__table {
      width: 100%;
      border-collapse: collapse;
  }
   .info-section__cell{
        border: 1px solid #F7941D;
        padding: 10px;
        font-size: 20px;
        color:var(--mu-xanh, #29577D); ;
   }
   .info-section__cell>a{
    color:var(--mu-xanh, #29577D); ;
   }
  /*Only in nhan_su.html*/
  .staff-table {
      width: 50vw;
      border: 1px solid black;
      border-collapse: collapse;
  }
  .staff-table__cell, .staff-table__header {
      border: 1px solid black;
      padding: 10px;
  }

  /*Only in lichsu.html*/
    .history-section__image-container {
     float: left;
    }
   .trang1__left{
    display: flex;
    padding: 26px 8px;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    padding-top: 0px;
    gap: 20px;
    flex-shrink: 0;
   }
   .history-section__heading-container>p{
      width: 815px;
      flex-shrink: 0;
      color: var(--mu-xanh, #29577D);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }
   .history-section__description-container{
    display: flex;
      height: 277px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      
   }
    .history-section__description{
          height: 251px;
          flex-shrink: 0;
          width: 815px;
          color: var(--mu-xanh, #29577D);
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.6px;
   }
   .timeline__title{
    width: 172px;
      color: var(--mu-xanh, #29577D);
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
   }
  .timeline__table {
    width: 812px;
            height: 26px;
            flex-shrink: 0;
  }
   .timeline__year{
     width: 184px;
      color: var(--mu-xanh, #29577D);
      text-align: center;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }
   .timeline__event{
     width: 184px;
      height: 40px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      color: var(--mu-xanh, #29577D);
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
   }

   /* only trang tin */

.search-bar {
    display: flex;
    align-items: center;
    gap: 70px;
    height: auto;
    font-size: 20px;   
    margin-left: -90px;
}

.search-bar__select {
    border: 1px solid #F7941D !important; 
    border-radius: 10px;
    height: 50px;
    box-sizing: border-box;
    padding: 12px;
    justify-content: center;
    align-items: center;
}
.search-bar__input::placeholder{
    text-align: center;
  }
.search-bar__input{
    border: 1px solid #F7941D;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center;
    width: 481px;
    height: 50px;
    display: flex;
    align-items: center;
}
.search-bar__button {
    background-color: #F7941D;
    color: white;
    display: inline-flex;
    width: 170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}
.card-grid__text-container{
    margin-top: 12px;
}
.trang4-content{
    display: flex;
    padding: 0px 70px;
    padding-left: 120px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: center;
}
.page-tintuc{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 35px 70px;
    align-self: stretch;
    flex-wrap: wrap;
}
.card-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  column-gap: 70px;
  font-family:"Manrope", serif;
}
.card-grid__card{
  justify-content: center;
  display: flex;
  /* box-sizing: border-box; */
  padding: 15px 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 246px;
  border-radius: 10px;
  border: 2px solid var(--Mu-cam, #F7941D);
  background: var(--mu-nn, #FDF3F3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 4px -2px 4px 0px #FEB6B6 inset
}
.card-grid__link{
    text-decoration: none;
    color: inherit;
    display: block;  
    transition: transform 0.3s ease; /* Hiệu ứng chuyển động */
    margin-top: 16px;
}
.card-grid__link:hover{
    
    transform: translateX(-5px); 
}

.card-grid__image-container{
  width: 265px;
  height: 155px;
  background-size: cover;
  border: 2px solid #29577D ;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
}
.card-grid__image-container:hover{
opacity: 0.5;
}
.card-grid__text-container>p{
  width: 265px;
  color: #29577D;
  font-family: Manrope;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
}
.search-bar__filter-container{
    margin-left: 20px;
    width: 170px;
}
.card-grid__text-container:hover{
text-decoration: underline;
}
#special{
    margin-top: -20px;
}
#dacbietpagetin{
    text-decoration: underline;
}
.contro{
    display: flex;
    justify-content: center; 
    align-items: center;  
    margin-top: -30px;
    margin-bottom: 30px;
    width: 1440px;
}


/* trang tin */
.trangtin{
    display: flex;
    flex-direction:row;
    align-items:flex-start;
    width: 100%;
    column-gap: 8%;
}
.trangtin-right_container{
    display: flex;
    position: sticky;
    top: 12px;
    width: 255px;
    color: #29577D;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.trangtin-left_container{
    width: 70%;
    color: #29577D;

}
.container_baiviet{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-self: stretch;
    border-radius: 10px;
    border: 2px solid var(--Mu-cam, #F7941D);
    background: #FDF3F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 8px 0px 4px 0px rgba(255, 0, 0, 0.25) inset;
    margin: 5%;
}
.container_baiviet>p{
    font-size: 15px;
    width: 80%;
    width: 160px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.border_bai_viet_lien_quan{
    border-radius: 10px;
    border: 2px solid #29577D;
    width: 167px;
    height: 100px;
}
.news-article__title{
    font-size: 30px;
    margin-bottom: 1.5rem;
}
.contro-content {
    margin-right: 10px;
}